.center_text{
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%,-50% );
}
.container{
    position: relative;
}
.container::before{
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0,0,0,0) 53%, rgba(145,59,16,0.5) 86%);
    z-index:2;
}