.cart {
    position:  relative;
}
.cart::before{
    content: '1';
    position: absolute;
    width: 10px;
    height: 10px;
    padding: 5px;
    color: black;
    border-radius: 50%;
    top: 1px;
    right: 1px;
}