.card {
    position: relative;
    overflow: hidden;
}

.cardItem{
    padding: 10px 0;
    color:#fff;
    position: absolute;
    bottom: -45px;
    text-align: center;
    background:  rgba(145,59,16,0.5) 86%;
}
.card:hover .cardItem{
    bottom: 0;
    transition: ease-in-out 0.5s;
}